html {
   background-color: #D8FBF8;
}

nav a {
  display: block;
  border: 3px solid #b8fdb6;
  width: 118px;
  line-height: 34px;
}

nav a:hover {
  background-color: #fff;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul > li {
  float: left;
  width: 122px;
  position: relative;
  background-color: #fff;
}

nav ul > li ul {
  visibility: hidden;
  position: absolute;
  top: 38px;
  left: 0;
}

nav ul > li:hover ul {
  visibility: visible;
}

footer {
   display: bottom;
}
